$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"; // bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.container-fluid {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.container-fluid.main {
  background-color: silver;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  opacity: 0.9;
}

.intro-text {
  padding-top: 2rem;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 4.5rem;
  color: lightgray;
  text-align: center;
  text-shadow: 1px 1px darkgray;
  line-height: 5rem;
}

.subtext {
  padding-top: 3rem;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 200;
  font-size: 3rem;
  color: white;
  text-align: center;
  font-style: italic;
  text-shadow: 1px 1px darkgray;
}

.countdown {
  padding-top: 10rem;
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 5rem;
  line-height: 6rem;
  color: white;
  text-align: center;
  text-shadow: 1px 1px darkgray;
}

.footer {
  position: absolute;
  bottom: 0;
  /* Set the fixed height of the footer here */
  height: 8rem;
  width: 100%;
  h4 {
    color: lightgray;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;

    a {
      color: lightgray;
      text-decoration: none;
      font-weight: 500;
    }
  }

  .row {
    margin-left: 2rem;
    margin-right: 0;
  }

  .btn {
    margin-bottom: 2rem;
    margin-top: 1rem;
    opacity: 0.8;
  }
}
@media (min-width: 400px) {
  .intro-text {
    font-size: 6rem;
  }
  .countdown {
    font-size: 6rem;
  }

  .subtext {
    font-size: 4rem;
  }
}
@media (min-width: 768px) {
  .intro-text {
    padding-top: 10rem;
    font-size: 7.5rem;
  }

  .countdown {
    padding-top: 25rem;
    font-size: 7.5rem;
  }

  .subtext {
    font-size: 5 rem;
  }

}

.row {
  margin-left: 0;
  margin-right: 0;
}
